body {
	width: 800px;
	margin: 0px auto;
	text-align: center;
	font-family: Arial;
	color: #282222;
	line-height: 1.5 em;
}

h1 {
	font-weight: bold;
}

h3 {
	font-weight: medium;
	color: #282222
}

h3.headline1 {
	padding-top: 70px;
	padding-bottom: 15px;
}

h3.headline2 {
	padding-top: 120px;
	padding-bottom: 15px;
}

h3.headline3 {
	padding-top: 140px;
	padding-bottom: 15px;
}

p.text {
	padding: 10px;
}

#content {
	overflow: auto;
	/*height: 100%;*/

}

nav {
	/*background-color: #efefef;*/
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 50px 10px 50px 10px;
}

nav li {
	display: inline;
	padding: 5px;
}

nav li.logoImage {
	vertical-align: middle;
}

nav li.logoText {
	text-align: left;
	padding-right: 200px;
	font-weight: bold;
	font-size: 200%;
}

/* can hide navigation tabs */   
nav li.coming-soon {
	display: none;
}

nav li a {
	color: #282222;
	text-decoration: none;
}

nav li a:hover, nav li a.current {
	color: #909094;
}

#newsletter, #footer {
	/*background-color: #efefef;*/
	padding: 10px;
}

#newsletter {
	margin: 50px 10px 50px 10px;
}

#footer {
	margin: 100px 10px 100px 10px;
	font-size: 80%;
}

.column1 {
	/*background-color: #efefef;*/
	width: 380px;
	float: left;
	/*Used to change the grid gutter*/
	margin: 50px 10px 50px 10px;
	height: 560;
	vertical-align: middle;
}

.column2 {
	/*background-color: #efefef;*/
	width: 380px;
	float: left;
	/*Used to change the grid gutter*/
	margin: 50px 10px 50px 10px;
	height: 560;
}

img.large {
	width: 276;
	height: 560;
}

.download {
	border-radius: 6px;
	background-color: #909094;
	height: 60;
	width: 220;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.download a {
	color: #ffffff;
	text-decoration: none;
	font-size: 150%;
	font-weight: medium;
}

.buttonComment {
	font-size: 80%;
	color: #9B9B9B;
}

input {
	padding: 12px 24px 12px 24px;
	border: 1px solid #909094;
	color: #ffffff;
	font-size: 100%;
}

input.submit:hover {
	background-color: #665544;
}

input.submit:active {
	background-color: #909094;
}

input.text {
	color: #dfdddd;
}

input.text:focus {
	color: #665544;
}





