body {
	width: 800px;
	margin: 0px auto;
	text-align: center;
	font-family: Arial;
	color: #282222;
	line-height: 1.5 em;
}

h1 {
	font-weight: bold;
}

h3 {
	font-weight: medium;
	color: #282222
}

h3.headline1 {
	padding-top: 20px;
	padding-bottom: 15px;
}

h3.headline2 {
	padding-top: 120px;
	padding-bottom: 15px;
}

h3.headline3 {
	padding-top: 140px;
	padding-bottom: 15px;
}

p.text {
	padding: 10px;
}

li.logoText {
	text-align: left;
	padding-right: 330px;
}

#content {
	overflow: auto;
	/*height: 100%;*/

}

#nav, #newsletter, #footer {
	/*background-color: #efefef;*/
	padding: 10px;
}

#nav, #newsletter {
	margin: 50px 10px 50px 10px;
}

#footer {
	margin: 100px 10px 100px 10px;
	font-size: 80%;
}

.column1 {
	/*background-color: #efefef;*/
	width: 380px;
	float: left;
	/*Used to change the grid gutter*/
	margin: 50px 10px 50px 10px;
	height: 560;
	vertical-align: middle;
}

.column2 {
	/*background-color: #efefef;*/
	width: 380px;
	float: left;
	/*Used to change the grid gutter*/
	margin: 50px 10px 50px 10px;
	height: 560;
}

li {
	display: inline;
	padding: 5px;
}

img.large {
	width: 276;
	height: 560;
}